@import "tailwindcss";
@tailwind utilities;

@plugin "daisyui";

@custom-variant hover (&:hover);

.element::-webkit-scrollbar {
  display: none;
}

.element {
  scrollbar-width: none; /* For Firefox */
}

.element {
  -ms-overflow-style: none;  /* For Internet Explorer and Edge */
}

.hide-scrollbar::-webkit-scrollbar {
display: none;
}

@layer utilities {
  /* Class to hide the scrollbar */
  .scrollbar-hide {
    /* For Firefox */
    scrollbar-width: none;
    /* For Internet Explorer and Edge */
    -ms-overflow-style: none;
  }

  /* For Chrome, Safari, and Opera */
  .scrollbar-hide::-webkit-scrollbar {
    display: none;
  }
}